# User-supplied C&C data
RTSMerge/assets/imported/
RTSMerge/assets/generated/
RTSMerge/gamedata/ra2_rules_generated.lua
*.MIX
*.mix
*.SHP
*.shp
*.PAL
*.pal
*.TMP
*.tmp
*.AUD
*.aud
*.VQA
*.vqa

# RA2/YR proprietary resources
RTSMerge/assets/imported/
RTSMerge/assets/generated/
*.VXL
*.vxl
*.HVA
*.hva
*.CSF
*.csf
*.WSA
*.wsa
